@import "../css/bootstrap.min.css";
@import "../css/loading-bar.css";
@import "../css/jquery.carousel-3d.default.css";
@import "../css/aos.css";
@import "../css/ihover.min.css";

//Bootstrap override
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  background-image: url(../images/jumbotron-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.navbar {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}

.jumbotron-heading {
  position: absolute;
  top: 50%;
  right: 0;
}

//Custom classes

.min-vh-100 {
  min-height: 100vh;
}
.navbar-footer-bg-color {
  background-color: #363b3e;
}

.resume-download {
  color: grey;
}

.resume-download:hover {
  color: white !important;
  text-decoration: none;
}

.display-on-smaller-screens {
  display: none;
}

.display-only-on-larger-screens {
}
//HTML Tag styles override
section {
  width: 100%;
  min-height: 100vh;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ced4da;
}

ul {
  list-style-type: square;
}

//Media Queries
@media (max-width: 700px) {

  .display-on-smaller-screens {
    display: inline-block;
  }

  .display-only-on-larger-screens {
    display: none;
  }
}





